<h1><%=@listing.product_name%></h1>
<h3><%=@listing.address%>, <%=@listing.zip_code%></h3>

<% if @listing.deleted == false %>
  <h4>Dates unavailable:</h4>
    <ul>
      <% @listing.future_exchanges.each do |exchange| %>
        <li><%=exchange.start_date_format%> - <%=exchange.end_date_format%></li>
      <%end%>
    </ul>

  <%= render partial: "/shared/error_partial", locals: {object: @exchange} %>
  <%= form_for @exchange do |f| %>
    <%= f.hidden_field :listing_id, value: @listing.id%>
    <%= f.hidden_field :renter_id, value: current_user.id%>

    <%= f.label :start_date %>
    <%= f.date_field :start_date, min: Time.now %>

    <%= f.label :end_date %>
    <%= f.date_field :end_date, min: Time.now %>

    <%= f.submit  %>
  <% end %>

<%else%>
  <br>
  <br>
  <h3>This item is currently unavailable for rental.</h3>
<%end%>
