<h1><%= @listing.product_name%></h1>
<h3>Owner: <%=@listing.owner.username%></h3>

<h3>Prices:</h3>
  <p> Rental Price:  <%= number_to_currency(@listing.rental_price)%>  Buy Price:  <%= number_to_currency(@listing.buy_price) %> </p>
<div class="product_description">
  <h3>Item Description:</h3>
    <p>Condition: <%= @listing.quality%></p>
    <%= @listing.product_description%>
</div>

<h3>Location:</h3>
  <p>Address: <%= @listing.address%> <%=@listing.zip_code%></p>
<% if current_user %>  
  <% if current_user.id == @listing.owner_id %>
    <table>
      <p>Exchanges: </p>
          <% if @listing.exchanges.empty? %>
              <p>This listing currently has no active exchanges.</p>
          <% else %>
              <% @listing.exchanges.each do |exchange| %>
              <tr>
              <td>
                  <%=link_to "#{exchange.start_date_format} - #{exchange.end_date_format}",exchange_path(exchange) %>
              </td>
              <td>
                  Rental Value:  <%=number_to_currency(exchange.total_price)%>
              </td>
              </tr>
              <%end%>
          <% end %>
    </table>
  <% end %>
<% else %>
  <% if @listing.exchanges.any? %>
    <h3>Not Available:</h3>
      <ul>
        <% @listing.future_exchanges.each do |exchange|%>
          <li><%=exchange.start_date_format%> - <%=exchange.end_date_format%></li>
        <%end%>
      </ul>
  <%end%>
<% end %>
<% if current_user %>
  <% if current_user.id == @listing.owner_id%>
    <%=link_to "Edit Listing", edit_listing_path(@listing)%>
  <%else%>
    <% if @listing.deleted == false %>
      <%= link_to "Rent this!", "/exchanges/#{@listing.id}/new"%>
    <%else%>
      <p>This is item is no longer available to rent.</p>
    <%end%>
  <% end %>
<% end %>




<!--  if owner then: destory listing button, owner view from if @listings.exchanges shows renter details and flags current renter. button to creat an exchange to buy or rent warn and display toal cost of echange -->
