<h1>Welcome <%= @user.name %>!</h1>


<h3>Username: <%= @user.username %></h3>

<%= form_tag edit_user_path(@user), method: 'get' do %>
    <%= submit_tag 'Edit Profile' %>
<% end %>

<h3>Listings</h3>

<% if @user.listings.empty? %>
    <h4>You currently have 0 listings.</h4>
<% else %>
    <h4>Active Listings:</h4>
      <% if @user.active_listings.empty? %>
        <p>You have no active listings.</p>
      <%else%>
        <ul>
            <% @user.active_listings.each do |listing| %>
                <li>
                    <%=render partial: "/listings/listing_summary", locals: { listing: listing } %>
                    <div>Number of Exchanges: <%= listing.future_exchanges.count %></div>
                </li>
                  
            <% end %>
        </ul>
      <%end%>
    <h4>Deactived Listings:</h4>
      <% if @user.deactivated_listings.empty? %>
        <p>All your listings are currently active.</p>
      <%else%>
        <ul>
            <% @user.deactivated_listings.each do |listing| %>
                <li><%=render partial: "/listings/listing_summary", locals: { listing: listing } %></li>
                  <table>
                    <p>Exchanges: </p>
                        <% if  listing.exchanges.empty? %>
                            <p>This listing currently has no active exchanges.</p>
                        <% else %>
                            <% listing.exchanges.each do |exchange| %>
                            <tr>
                            <td>
                                <%=link_to "#{exchange.start_date_format} - #{exchange.end_date_format}",exchange_path(exchange) %>
                            </td>
                            <td>
                                Rental Value:  <%=number_to_currency(exchange.total_price)%>
                            </td>
                            </tr>
                            <%end%>
                        <% end %>
                  </table>
            <% end %>
        </ul>
      <%end%>
<% end %>

<h3>Rentals</h3>

<% if @user.exchanges.empty? %>
    <h4>You are not currently renting any items.</h4>
<% else %>
    <ul>
        <% @user.exchanges.each do |exchange| %>
            <li><%=render partial: "exchanges/exchange_summary", locals: { exchange: exchange } %></li>
        <% end %>
    </ul>
<% end %>

<br>
<br>








<!-- display self data
links: see its listings  and rentals conditional logic for display text if nothing

link to listings index

link to edit user -restrict username at least need to change new and edit forms so that they can only update one

create listing button -->
