<h1>Welcome <%= @user.name %>!</h1>


<h4>Username: <%= @user.username %></h4>
<br>
<br>

<h2>Listings</h2>


<% if @user.listings.empty? %>
    <h4>You currently have 0 listings.</h4>
<% else %>
    <h4>Active Listings:</h4>
      <% if @user.active_listings.empty? %>
        <p>You have no active listings.</p>
      <%else%>
       <div class="album py-1">
        <div class="container">
        <div class="row">
            <% @user.active_listings.each do |listing| %>
                <div class="card-body col-md-3">
                    <%=render partial: "/listings/listing_summary", locals: { listing: listing } %>
                    <div class="text-center">
                    <p>Upcoming exchanges: <%= listing.future_exchanges.count %></p>
                    </div>
                </div>  
            <% end %>
         </div> 
         </div>
         </div>
      <%end%>
    <h4>Deactived Listings:</h4>
      <% if @user.deactivated_listings.empty? %>
        <p>All your listings are currently active.</p>
      <%else%>
      <div class="album py-1">
        <div class="container">
        <div class="row">
            <% @user.deactivated_listings.each do |listing| %>
                <div class="card-body col-md-3">
                    <%=render partial: "/listings/listing_summary", locals: { listing: listing } %>
                    <div class="text-center">
                    <p>Remaining exchanges: <%= listing.future_exchanges.count %></p>
                    </div>
                </div>  
            <% end %>
         </div> 
         </div>
         </div>
         <% end %>
<% end %>

<h3>Rentals</h3>

<% if @user.exchanges.empty? %>
    <h4>You are not currently renting any items.</h4>
<% else %>
    <ul>
        <% @user.exchanges.each do |exchange| %>
            <li><%=render partial: "exchanges/exchange_summary", locals: { exchange: exchange } %></li>
        <% end %>
    </ul>
<% end %>

<br>
<br>








<!-- display self data
links: see its listings  and rentals conditional logic for display text if nothing

link to listings index

link to edit user -restrict username at least need to change new and edit forms so that they can only update one

create listing button -->
