<h1><%= @user.username %></h1>

<h3>Name: <%= @user.name %></h3>

<h3>Listings</h3>

<% if @user.listings.empty? %>
    <h4>You currently have 0 listings.</h4>
<% else %>
    <ul>
        <% @user.listings.each do |listing| %>
            <li><%=render partial: "/listings/listing_summary", locals: { listing: listing } %></li>
              <table>
                <p>Exchanges: </p>
                    <% if  listing.exchanges.empty? %>
                        <p>This listing currently has zero exchanges.</p>
                    <% else %>
                        <% listing.exchanges.each do |exchange| %>
                        <tr>
                        <td>
                            <%=link_to "#{exchange.start_date_format} - #{exchange.end_date_format}",exchange_path(exchange) %>
                        </td>
                        <td>
                            Rental Value:  <%=number_to_currency(exchange.total_price)%>
                        </td>
                        </tr>
                        <%end%>
                    <% end %>
              </table>
        <% end %>
    </ul>
<% end %>

<h3>Rentals</h3>

<% if @user.exchanges.empty? %>
    <h4>You are not currently renting any items.</h4>
<% else %>
    <ul>
        <% @user.exchanges.each do |exchange| %>
            <li><%=render partial: "exchanges/exchange_summary", locals: { exchange: exchange } %></li>
        <% end %>
    </ul>
<% end %>

<br>
<br>

<%= form_tag edit_user_path(@user), method: 'get' do %>
    <%= submit_tag 'Edit Profile' %>
<% end %>


<%= form_tag new_listing_path, method: 'get' do %>
    <%= submit_tag 'Create A New Listing' %>
<% end %>






<!-- display self data
links: see its listings  and rentals conditional logic for display text if nothing

link to listings index

link to edit user -restrict username at least need to change new and edit forms so that they can only update one

create listing button -->
